body{
    background-image: url(https://upload.wikimedia.org/wikipedia/en/b/bb/Graduated_Blue_Background.png);
    background-size: cover;
}
a:hover {
    text-decoration: none;
}
li {
    list-style-type: none;
    padding:10px;
    text-align:left;
    background: white;
    margin: 10px auto;    
    width: 50%;    
    border-radius: 0px;
    border-left: solid 5px rgba(0, 0, 0, 0);
  }

li:hover {
    border-left: solid 5px blue;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}


